a{
  text-decoration: none;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 120px;
  background: #11141a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo{
  font-size: 32px;
  color: white;
  
  font-weight: bold;
}

nav a{
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-left: 35px;
  transition: color 0.3s;
}

nav a:hover,
nav a.active{
  color: #0ef;
}
